<main class="main">
  <section class="header">
    <div class="header__logo">
      <img
        class="header__logo__imagine"
        src="assets/img/logo/pngwing.com.png"
        alt="Shopify Logo"
      />
    </div>
  </section>
  <section class="hero">
    <div class="hero__container">
      <h1 class="hero__title">Sell online with Shopify</h1>
      <h2 class="hero__descr">Trusted by millions of businesses worldwide</h2>
      <form action="" class="hero-form">
        <input
          type="text"
          class="hero-form__email"
          placeholder="Enter your email address"
        />
        <button class="hero-form__btn" type="submit">Start free trial</button>
      </form>
      <p class="hero-form__descr">
        Try Shopify free for 14 days, no credit card required. By entering your
        email, you agree to receive marketing emails from Shopify.
      </p>
      <div class="hero__background">
        <img
          class="hero__background__imagine"
          src="https://cdn.shopify.com/shopifycloud/brochure/assets/landers/short-lander/free-trial/storefront-illustration@mobile-cd49a37e1e5e153e43ca57891bd3f327ff19f1fe139517ad4fbcf2d83388ae23.png"
          alt="Computer imagine"
        />
      </div>
    </div>
  </section>
  <section class="services">
    <ul class="services-list">
      <ng-container *ngFor="let servicesItem of servicesItems">
        <li class="services__item">
          <img
            class="services__item__imagine"
            [src]="'assets/icon/service/' + servicesItem.icon"
            [alt]="servicesItem.alt"
          />
          <h3 class="services__item__subtitle">
            {{ servicesItem.subtitle }}
          </h3>
          <p class="services__item__descr">
            {{ servicesItem.description }}
          </p>
        </li>
      </ng-container>
    </ul>
  </section>
  <section class="cooperation">
    <div class="cooperation-content">
      <ng-container *ngFor="let cooperationItem of cooperationLogosItems">
        <div class="cooperation__logo">
          <img
            class="cooperation__logo__imagine"
            [src]="'assets/img/cooperationLogo/' + cooperationItem.source"
            [alt]="cooperationItem.alt"
          />
        </div>
      </ng-container>
    </div>
  </section>
  <section class="get-started">
    <div class="get-started__container">
      <h3 class="get-started__container__quotes">
        “Shopify is better than any other platform we’ve played with, and we’ve
        played with them all.”
      </h3>
      <h4 class="get-started__container__owner">
        JONATHON BAYME, CEO OF THEORY11
      </h4>
      <button class="get-started__container__btn">Start free trial</button>
    </div>
  </section>
</main>
<footer class="footer">
  <div class="footer__list">
    <div class="footer__list__item">
      <a href="#" class="footer__list__item__link">Terms of Service </a>
    </div>
    <div class="footer__list__item">
      <a href="#" class="footer__list__item__link">Privacy Policy</a>
    </div>
  </div>
</footer>
